@import "../../../node_modules/bootstrap/scss/mixins";
.top-header {
    padding-bottom: 78px;
    background-size: auto calc(100% - 100px);
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
    }
    @media screen and (orientation: portrait) {
        background-position: center bottom;
    }

    @include media-breakpoint-up(lg) {
        background-size: auto calc(100% - 50px);
    }
}

