@import "variables";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.skill {
    width: 100%;
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    border-bottom: 4px solid $secondary;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --bar-width:0;
    &::after {
        transition: all ease-in-out 2s;
        transition-delay: 0.5s;
        position: absolute;
        content: "";
        left: 0;
        bottom: -4px;
        height: 4px;
        background-color: $primary;
        width: var(--bar-width);
    }
    .skill-title {
        font-weight: $font-weight-lighter;
        font-size: $font-size-lg;
        text-transform: uppercase;
    }
}