@import "variables";
// Titoli puramente proporzionali

@import "../../../node_modules/bootstrap/scss/mixins";

[class *="display-p"] {
    font-weight: 300;
}

.display-p-1 {
    font-size: 10vw;
}

.display-p-2 {
    font-size: 5vw;
}

.display-p-3 {
    font-size: 4.5vw;
}

.display-p-4 {
    font-size: 3.8vw;
}

.display-p-5 {
    font-size: 3.3vw;
}

.display-p-6 {
    font-size: 2.8vw;
}

.title-outlined {
    font-weight: 900 !important;
    line-height: 1;
    color: var(--bs-body-color);
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bs-body-color);

    @include media-breakpoint-up(lg) {
        -webkit-text-stroke-width: 2px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid $gray-700;
    -webkit-text-fill-color: $light;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.light-titles {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-weight: 300 !important;
    }
}

.normal-titles {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-weight: 400 !important;
    }
}

pre {
    border: 1px solid var(--bs-gray-700);
}